<h1>部員一覧画面(ページング付き)</h1>

<table border="1">
  <tr>
    <th>部員ID</th>
    <th>部員名</th>
    <th>登録日</th>
    <th>ステータス</th>
    <th>更新</th>
    <th>削除</th>
  </tr>
  {% for member in member_list %}
  <tr>
    <td>
      <a href="{% url 'enquete:member_detail' member.member_id %}">{{ member.member_id }}</a>
    </td>
    <td>{{ member.member_name }}</td>
    <td>{{ member.registration_date }}</td>
    <td>
      {% if member.delete_flag %}
      無効
      {% else %}
      有効
      {% endif %}
    </td>
    <td>
      <a href="{% url 'enquete:member_update' member.member_id %}">更新する</a>
    </td>
    <td>
      <a href="{% url 'enquete:member_delete_confrim' member.member_id %}">削除する</a>
    </td>
  </tr>
  {% endfor %}
</table>
<!-- ページネーション -->
<div >
  {% if member_list.has_previous %}
  <a href="{% url 'enquete:member_page' 1 %}">prev</a>
  {% endif %}
</div>